body {
    text-align: center;
    margin: 0;
}

h1 {
    font-family: RALEWAY;
    color: #0D2C40;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 45px;
    margin: 0;
}

a {
    font-family: RALEWAY;
    color: #ffffff;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 18px;
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none;
    border-bottom: 2px solid transparent;
}

a:hover {
    border-bottom: 2px solid #ffffff;
}

h2 {
    font-family: RALEWAY;
    color: #0d2c40;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 20px;
}

p {
    font-family: "DROID SERIF";
    line-height: 26px;
    font-size: 18px;
}

header {
    background-color: #f15b31;
    color: #ffffff;
    padding: 30px 20px;
}

nav {
    background-color: #00a6b3;
    color: #ffffff;
    padding-top: 20px;
    padding-bottom: 20px;
}

main {
    width: 850px;
    margin: 35px auto;
}

img {
    margin-top: 40px;
    margin-left: 8px;
    margin-right: 8px;
}

footer {
    text-transform: uppercase;
    padding: 0 20px;
    background-color: #0D2C40;
    color: #ffffff;
    font-size: 14px;
    letter-spacing: .08em;
    font-weight: 500;
}

.copyright,
.message {
    font-family: RALEWAY;
}

.copyright {
    float: left;
}

.message {
    float: right;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    content: " ";
    clear: both;
    height: 0;
    font-size: 0;
}

.name {
    color: #F15B31;
    font-weight: 700;
}

button {
    background-color: #00a6b3;
    border-radius: 50px;
    color: #FFFFFF;
    width: 60px;
    height: 60px;
}

button:hover {
    background-color: #FFFFFF;

    color: #00a6b3;
    border: 2px solid #00a6b3;
}